body {
    margin-bottom: 0px;
}

.page-header {
    margin-top: 100px;
}

.panel-body {
    padding-top: 0;
}

.featuredImg {
    margin-bottom: 15px;
}

#contact-message {
    resize: vertical;
}

.divider-horizontal{
   height: 1px;
   background-color: #CCC;
   margin: 15px 15px;
}


.btn-orange { 
  color: #ffffff; 
  background-color: #E8BB09; 
  border-color: #E8BB09; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #ffffff; 
  background-color: #C7980A; 
  border-color: #E8BB09; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #E8BB09; 
  border-color: #E8BB09; 
} 
 
.btn-orange .badge { 
  color: #E8BB09; 
  background-color: #ffffff; 
}



.circle-text {
display: table-cell;
height: 80px; /*change this and the width
for the size of your initial circle*/
width: 80px;
text-align: center;
vertical-align: middle;
border-radius: 50%;
/*make it pretty
background: #v;*/
background: #FFF;
color: #000;
font: 9px "josefin sans", arial; /*change this
for font-size and font-family*/
border: 1px solid #000;
}


.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

a{
color: #000;
text-decoration: none; 
}

a:hover {
    color: #000;
    text-decoration: none;
}

.responsiveTabs{
  max-width:900px;
  margin:auto;
}

div.ex1 {
    max-width:900px;
    margin: auto;
    
}