.alert {
	padding-top: 5px;
	padding-bottom: 5px;
}

.errorMessages {
	display: none;
	list-style-type: disc;
	padding: 8px 35px 8px 30px;
	color: #B94A48;
	background-color: #F2DEDE;
	border: 2px solid #EED3D7;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.errorMessages span {
	font-weight: bold;
}

.table>thead>tr>th{
	font-weight: normal;
	font-size: 13px;
}

.table>tbody>tr>td {
	font-size: 12px;
}
.table>tbody>tr>td>a:hover {
	cursor: pointer;
}

.ocultar {
	display: none;
}

/*
ALertify
.alertify-notifier .ajs-message.ajs-success {
  color: #31708f;
  background: #d9edf7;
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/
  /*color: #31708f;  background-color: #d9edf7;  border-color: #31708f;*/
}
*/